.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .new-blog-link {
    position: fixed;
    right: 5%;
    bottom: 20%;

    a {
      font-size: 2.5em;
      cursor: pointer;
      color: $primary-color;
      margin-right: 15px;
      margin-bottom: 15px;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $green;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 800px;

    a {
      text-decoration: none;
      color: $primary-color;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $green;
      }
    }

    h1 {
      color: $primary-color;
      font-size: 1.5em;
    }

    .featured-image-wrapper {
      img {
        margin: 15px 0px;
        width: 100%;
        height: 350px;
        border-radius: 5px;
        object-fit: cover;
      }
    }
    .admin-blog-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      .trash-can {
        margin-left: 15px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
          transition: 0.5s ease-in-out;
          color: $warning;
        }
      }
      .elipses-style a {
        margin-left: 15px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

//MOBILE BLOG - ADD RULES
@media (max-width: 38em) {
  .blog-container {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    align-items: flex-start;
    width: calc(100vw - 10px);

    .elipses-style {
      display: flex;
      width: calc(100vw - 10px);
      font-size: 11.5px;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      width: calc(100vw - 10px);
      align-items: flex-start;
    }
  }

  .content-container {
    display: flex;
    max-width: calc(100vw - 10px);
    a {
      font-size: 11px;
    }
    
  }
  .featured-image-wrapper {
    display: flex;
    max-width: calc(100vw - 10px);
  }
}
