.content-page-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    h1 {
      color: $primary-color;
    }

    p {
      font-weight: 150;
    }
    .p2 {
      color: $primary-color;
      font-weight: 700;
    }
  }
  .bullet-point-group {
    display: flex;
    align-items: center;
  
    .icon {
      font-size: 2em;
      color: $primary-color;
    }
  
    .text {
      font-size: 1.5em;
      font-weight: 900;;
      margin-left: 21px;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

//CONTACT-ABOUT MOBILE RULES - ADD HERE
@media (max-width: 38em) {
  .content-page-wrapper{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 28px);
    width: 100vw;

    .left-column {
      height: 100vh;
      width: 100vw;

      .img {
        max-height: 100%;
        min-width: 100%;
        object-fit: fill;
        vertical-align: bottom;
      }
    }

    .right-column {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      height: 100%;
      width: 100%;

      h1 {
        font-size: 18px;
      }
      
      p{
        padding-left: 10px;
        padding-right: 10px;
      }

      .p2 {
        padding-bottom: 20px;
      }
    }

    .contact-bullet-points {
      padding-top: 30px;
      font-size: 12px;
    }
  }
}