$primary-color: #E95420;
$secondary-color: #b8461c;
$background-color: rgba(34, 34, 34, .95);
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$caution: #FFFF8F;
$grey: #8a8a8a;
$green: #5ba669;